{% extends "base.html.twig" %}

{% block body %}

<h1>Badger website</h1>

<h2>{{ name }}</h2>

<img src="{{ asset('/uploads/images/' ~ imageFilename) }}" alt="{{ name }}" class="badgerImage" /img>

<h3>Continent</h3>
<p>
    {{ continent }}
</p>

<h3>Description</h3>
<p>
    {{ description|raw }}
</p>

{% endblock %}
