{% extends "base.html.twig" %}

{% block body %}

<h1>Badger website</h1>

<section class="searchSection">
    <form action="{{ path('app_home') }}" method="get" class="searchForm">
        <input type="search" name="s" class="searchInput" value="{{ search }}">
        <button type="submit">Search</button>
    </form>
    {% if badgers|length < 1 %}
        <p>No badgers found.</p>
    {% else %}
        <p>Found {{ badgers|length }} badgers.</p>
    {% endif %}
</section>

{% if badgers.haveToPaginate %}
    <div class="pagerfantaPagination">
        {{ pagerfanta(badgers, 'default') }}
    </div>

    <div class="customPagination">
        {% set route = 'app_home' %}
        {% set entities = badgers %}
        {% set entitiesName = 'badgers' %}
        {% include 'pagination.html.twig'
            with { route, entities, entitiesName } only
        %}
    </div>
{% endif %}

<section class="badgersList">
{% for badger in badgers %}
    <h2>{{ badger.name }}</h2>

    {% if badger.imageFilename %}
        <img src="{{ asset('/uploads/images/' ~ badger.imageFilename) }}" alt="{{ badger.name }}" class="badgerImage" /img>
    {% else %}
        <img src="https://picsum.photos/300/200" alt="placeholder" class="badgerImage" />
    {% endif %}

    <h3>Continent</h3>
    <p>
        {{ badger.continent }}
    </p>

    <h3>Description</h3>
    <p>
        {{ badger.description|slice(0, 1000)|raw }}
        <a href="/badger/{{ badger.id }}">Read more about this badger</a>
    </p>

    {% if is_granted('ROLE_USER') %}
        <p>
            <a href="/edit/badger/{{ badger.id }}">Edit badger {{ badger.id }}</a>
            | <a href="/delete/badger/{{ badger.id }}">Delete badger {{ badger.id }}</a>
        </p>
    {% endif %}

    <hr>

{% endfor %}
</section>

{% if badgers.haveToPaginate %}
    <section class="paginationFooter">
        <div class="pagerfantaPagination">
            {{ pagerfanta(badgers, 'default') }}
        </div>
        <div class="customPagination">
            {% set route = 'app_home' %}
            {% set entities = badgers %}
            {% set entitiesName = 'badgers' %}
            {% include 'pagination.html.twig'
                with { route, entities, entitiesName } only
            %}
        </div>
    </section>
{% endif %}


{% endblock %}
