{% extends "base.html.twig" %}

{% block body %}

<h1>Badger website</h1>

{% if badgers|length < 1 %}
    <p>There are not yet any published badgers.</p>
{% endif %}

{% for badger in badgers %}
    <h2>{{ badger.name }}</h2>

    <img src="https://picsum.photos/300/200" alt="placeholder" />

    <h3>Continent</h3>
    <p>
        {{ badger.continent }}
    </p>

    <h3>Description</h3>
    <p>
        {{ badger.description }}
    </p>

    {% if is_granted('ROLE_USER') %}
        <p>
            <a href="/edit/badger/{{ badger.id }}">Edit badger {{ badger.id }}</a>
            | <a href="/delete/badger/{{ badger.id }}">Delete badger {{ badger.id }}</a>
        </p>
    {% endif %}

    <hr>

{% endfor %}

{% endblock %}
