{% extends "base.html.twig" %}

{% block body %}

<h1>Administrate Users</h1>

{% if users|length < 1 %}
    <p>There are not yet any users.</p>
{% endif %}

{% for user in users %}
    <ul>
        <li>Id: {{ user.id }}</li>
        <li>Email: {{ user.email }}</li>
        <li>{{ user.isActive ? 'Activated' : 'Not activated' }}</li>
        <li>Roles: {{ user.roles|join(', ') }}</li>
    </ul>

    {% if is_granted('ROLE_USER') %}
        <p>
            {% if 'ROLE_SUPER_ADMIN' not in user.roles  %}
                {% if not user.isActive %}
                    <a href="/admin/activate/user/{{ user.id }}">Activate user {{ user.id }}</a> |
                {% endif %}
                 <a href="/admin/delete/user/{{ user.id }}">Delete user {{ user.id }}</a>
            {% endif %}
        </p>
    {% endif %}

    <hr>

{% endfor %}

{% endblock %}
