{% extends "base.html.twig" %}

{% block title %}Administrate Users{% endblock %}

{% block body %}

<h1>Administrate Users</h1>

{% if users.haveToPaginate %}
    <div class="pagerfantaPagination">
        {{ pagerfanta(users, 'default') }}
    </div>

    <div class="customPagination">
        {% set route = 'app_home' %}
        {% set entities = users %}
        {% set entitiesName = 'users' %}
        {% include 'pagination.html.twig'
            with { route, entities, entitiesName } only
        %}
    </div>
{% endif %}

{% if users|length < 1 %}
    <p>There are not yet any users.</p>
{% endif %}

{% for user in users %}
    <article class="itemArticle">
        <ul>
            <li>Id: {{ user.id }}</li>
            <li>Email: {{ user.email }}</li>
            <li>{{ user.isActive ? 'Activated' : 'Not activated' }}</li>
            <li>Roles: {{ user.roles|join(', ') }}</li>
        </ul>

        {% if is_granted('ROLE_USER') %}
            <p>
                {% if 'ROLE_SUPER_ADMIN' not in user.roles  %}
                    <section class="controls">
                        {% if not user.isActive %}

                            <form action="{{ path('admin_activate_user', { id: user.id }) }}" method="post" class="activateUserForm">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('activate_user') }}">
                                <button class="buttonStyledAsAnchorTag" type="submit">Activate user</button>
                            </form> |

                        {% endif %}

                            <form action="{{ path('admin_delete_user', { id: user.id }) }}" method="post" class="deleteUserForm">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_user') }}">
                                <button class="buttonStyledAsAnchorTag" type="submit">Delete user</button>
                            </form>
                    </section>
                {% endif %}
            </p>
        {% endif %}
    </article>
{% endfor %}

{% if users.haveToPaginate %}
    <section class="paginationFooter">
        <div class="pagerfantaPagination">
            {{ pagerfanta(users, 'default') }}
        </div>
        <div class="customPagination">
            {% set route = 'app_home' %}
            {% set entities = users %}
            {% set entitiesName = 'users' %}
            {% include 'pagination.html.twig'
                with { route, entities, entitiesName } only
            %}
        </div>
    </section>
{% endif %}

{% endblock %}
