<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Badger Website{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">

        {% block importmap %}
            {{ importmap('map') }}
        {% endblock %}

        {% block stylesheets %}
            {% set theme = app.request.cookies.get('theme') ?? 'dark' %}
            {% if theme == 'dark' %}
                <link href="{{ asset('styles/darkTheme.css') }}" rel="stylesheet" />
            {% else %}
                <link href="{{ asset('styles/lightTheme.css') }}" rel="stylesheet" />
            {% endif %}
        {% endblock %}
    </head>
    <body>
        {% include 'navigation.html.twig' %}

        <div class="pageTop" id="pageTop"></div>

        <main class="container">
            {% include 'flashes.html.twig' %}

            {% block body %}{% endblock %}
        </main>

        {% set informedAboutCookies = app.request.cookies.get('informedAboutCookies') %}
        {% if not informedAboutCookies %}
            <section class="cookieInfo">
                <p>This website uses only necessary cookies. <button class="cookieInfoButton">Ok</button></p>
            </section>
        {% endif %}

        <footer class="footer">
            <p>Made by <a href="https://github.com/xolof">Xolof</a> with <a href="https://symfony.com/">Symfony</a> and <a href="https://picnicss.com/">Picnic CSS</a></p>
            <p>
                <a href="#pageTop" tabindex="-1">▲ Go up ▲</a>
            </p>
        </footer>

        <script src="{{ asset('js/cookieInfo.js') }}" />

    </body>
</html>
